html{
    box-sizing:border-box;
    font-size:12px;
    font-family:'Fira Sans', normal
}
*,*:after,*:before{
    box-sizing:inherit
}
@media (min-width: 576px){
    html{
        font-size:14px
    }
}
@media (min-width: 768px){
    html{
        font-size:16px
    }
}
@media (min-width: 992px){
    html{
        font-size:18px
    }
}
@media (min-width: 1200px){
    html{
        font-size:20px
    }
}
body,h1,h2,h3,h4,h5,h6,ol,p,ul{
    margin:0;
    padding:0;
    font-weight:normal
}
main{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    justify-content:center;
    padding:0 30px;
    text-align:center;
    z-index: 1
}
img{
    max-width:100%;
    height:auto
}
body{
    background:#FDF6E3;
    color:#657B83;
    color: #839496​;
}
body.dark {
    background-color: #073642;
    color: #839496
}
.nightmodetoggle{
    justify-content:left;
    padding:0.2em;
    font-size:1.7em;
    font-family:'Emoji', normal;
    position: fixed;
    z-index: 2
}
.nightmodetoggle a {
    color: inherit;
    text-decoration-line: none;
    text-decoration: none;
}
.selector{
    margin: 1.5rem 0;
}
p{
    margin: 1.5rem 0;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.page-title{
    font-family:'Fira Sans', normal;
    font-size:2.75em;
    font-weight:600
}
.page-description{
    font-size:1.5rem;
    margin:1.5rem 0;
    font-weight:100
}
.icons i{
    font-size:3em
    padding:10px
}
.icons a{
    color:#657B83
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(/res/fonts/firaSans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
