navbar ul {
    font-family: 'Fira Sans', normal;
    font-size: 1.2em;
    font-weight: 500;
    list-style-type: none;
    overflow: hidden;
    background-color: #002b36;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

navbar li {
    float: left;
    padding: 0.5em 0 0.6em;
    position: relative;
}

navbar li a {
    color: #839496;
    text-align: center;
    padding: 0.6em 1em;
    text-decoration: none;
    transition: 0.2s;
}

navbar li a:hover {
    background-color: #93a1a1;
    color:  #657b83;
}

navbar li a#blog {
    color: #ffbac5;
}


navbar .navbar-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.1em;
    margin: auto;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    transition: 0.2s;
}

navbar li:hover .navbar-underline {
    background-color: #fdf6e3;
}

.navbar-underline:hover {
    background-color: #fdf6e3;
}


